annotated-types==0.7.0
argon2-cffi==25.1.0
Authlib==1.6.2
email_validator==2.2.0
fastapi==0.116.1
httpx==0.28.1
itsdangerous==2.2.0
mysql-connector-python==9.4.0
pillow==11.3.0
pydantic-settings==2.10.1
pydantic==2.11.7
PyJWT==2.10.1
python-multipart==0.0.20
requests==2.32.5
rich==14.1.0
SQLAlchemy==2.0.43
sqlmodel==0.0.24
systemd-python==235
uvicorn==0.35.0